<h1>Data Wrangling</h1>

<h4>Install and import pandas numpy and matplotlibs</h4>

In [31]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     ------------------------------------ 292.8/292.8 KB 334.8 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.15 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.22.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.1)
Requirement already satisfied: pandas>=0.23 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.4.1)
Collecting scipy>=1.0
  Downloading scipy-1.8.0-cp310-cp310-win_amd64.whl (37.0 MB)
     -------------------------------------- 37.0/37.0 MB 280.1 kB/s eta 0:00:00
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (4.29.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.8.0 seaborn-0.11.2
Note: you may need to restart the kernel to use updated packages.

In [7]:
#install specific version of libraries used in lab
!pip install pandas
!pip install numpy

Collecting pandas
  Downloading pandas-1.4.1-cp310-cp310-win_amd64.whl (10.6 MB)
     --------------------------------------- 10.6/10.6 MB 60.4 kB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.22.2-cp310-cp310-win_amd64.whl (14.7 MB)
     -------------------------------------- 14.7/14.7 MB 391.2 kB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     ------------------------------------- 503.5/503.5 KB 97.1 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.2 pandas-1.4.1 pytz-2021.3
Requirement already satisfied: numpy in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (1.22.2)

In [11]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.1-cp310-cp310-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 50.0 kB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.29.1-py3-none-any.whl (895 kB)
     ------------------------------------- 895.5/895.5 KB 29.9 kB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp310-cp310-win_amd64.whl (52 kB)
     --------------------------------------- 52.1/52.1 KB 74.6 kB/s eta 0:00:00
Collecting pillow>=6.2.0
  Downloading Pillow-9.0.1-cp310-cp310-win_amd64.whl (3.2 MB)
     ---------------------------------------- 3.2/3.2 MB 47.5 kB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: numpy>=1.17 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.22.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.29.1 kiwisolver-1.3.2 matplotlib-3.5.1 pillow-9.0.1
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
import matplotlib.pylab as plt

In [9]:
pd.__version__

'1.4.1'

In [14]:
plt.__version__

'1.22.2'

<h2>Reading the dataset from the URL and adding the related headers</h2>

First, we assign the URL of the dataset to "filename".

This dataset was hosted on IBM Cloud object. Click <a href="https://cocl.us/corsera_da0101en_notebook_bottom?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01">HERE</a> for free storage.

In [22]:
filename = "Desktop\Argusauto.csv"

Then, we create a Python list <b>headers</b> containing name of headers.

Use the Pandas method <b>read_csv()</b> to load the data from the web address. Set the parameter  "names" equal to the Python list "headers".

In [160]:
headers = ["id","link","fuel-type","mileage","horsepower","year-of-circulation", "years","year-of-annoucement",
         "boite","region",
         "modele","marque","carrosserie","phone-number","color","vehicule-condition","price"]

In [161]:
df = pd.read_csv(filename, names = headers)

<h4>Supprimer les collonees id,link,carrosserie,phone number</h4>

In [186]:
df.drop(['id', 'link','carrosserie','phone-number', 'year-of-annoucement'], axis=1, inplace=True)

KeyError: "['id', 'link', 'carrosserie', 'phone-number', 'year-of-annoucement'] not found in axis"

In [187]:
df.drop(['region'], axis=1, inplace=True)

In [188]:
df.head()

,fuel-type,mileage,horsepower,year-of-circulation,years,boite,modele,marque,color,vehicule-condition,price
1,Essence,30000 KM,4.0,2019-02-22,2019,Boîte 6,NaN,NaN,NaN,NaN,31000.0
2,Diesel,190000 KM,10.0,2012-09-20,2012,Automatique,NaN,NaN,NaN,NaN,85000.0
3,Essence,94000 KM,6.0,2017-10-20,2018,Boîte 6,NaN,NaN,NaN,NaN,94000.0
4,Essence,183000 KM,NaN,NaN,2007,NaN,NaN,NaN,NaN,NaN,103790.48996
5,Essence,140000 KM,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,103790.48996

<h4>Supprimer la premiére ligne</h4>

In [165]:
# To see what the data set looks like, we'll use the head() method.

df.drop([0], axis=0, inplace=True)
df.head()

KeyError: '[0] not found in axis'

<h4>Voir le format des variables</h4>

In [167]:
df.dtypes

fuel-type              object
mileage                object
horsepower             object
year-of-circulation    object
years                  object
boite                  object
region                 object
modele                 object
marque                 object
color                  object
vehicule-condition     object
price                  object
dtype: object

<h4>Analyse statistique général</h4>

In [168]:
df.describe()

,fuel-type,mileage,horsepower,year-of-circulation,years,boite,region,modele,marque,color,vehicule-condition,price
count,30853,30419,29056,13711,18973,30134,25356,26510,24049,16741,19400,30397
unique,46,5370,343,2886,442,1023,634,2380,108,27,23,1764
top,Essence,0,5.0,Boîte 5,2017,Manuelle,Tunis,Polo,Volkswagen,Noir,Avec kilom\xc3\xa9trage,0
freq,20169,397,9640,706,1318,22063,1634,971,3652,4474,10997,4009

<h2 id="identify_handle_missing_values">Identify and handle missing values</h2>

<h3 id="identify_missing_values">Identify missing values</h3>
<h4>Convert "?" to NaN</h4>
In the car dataset, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), Python's default missing value marker for reasons of computational speed and convenience. Here we use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B.

<h4>Evaluating for Missing Data</h4>

The missing values are converted by default. We use the following functions to identify these missing values. There are two methods to detect missing data:

<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [170]:
missing_data = df.isnull()
missing_data.head(5)

,fuel-type,mileage,horsepower,year-of-circulation,years,boite,region,modele,marque,color,vehicule-condition,price
1,False,False,False,False,False,False,False,True,True,True,True,False
2,False,False,False,False,False,False,False,True,True,True,True,False
3,False,False,False,False,False,False,False,True,True,True,True,False
4,False,False,True,True,False,True,True,True,True,True,True,True
5,False,False,True,True,False,True,True,True,True,True,True,True

"True" means the value is a missing value while "False" means the value is not a missing value.

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the dataset.  In the body of the for loop the method ".value_counts()" counts the number of "True" values. 
</p>

In [171]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

fuel-type
False    30853
True       873
Name: fuel-type, dtype: int64

mileage
False    30419
True      1307
Name: mileage, dtype: int64

horsepower
False    29056
True      2670
Name: horsepower, dtype: int64

year-of-circulation
True     18015
False    13711
Name: year-of-circulation, dtype: int64

years
False    18973
True     12753
Name: years, dtype: int64

boite
False    30134
True      1592
Name: boite, dtype: int64

region
False    25356
True      6370
Name: region, dtype: int64

modele
False    26510
True      5216
Name: modele, dtype: int64

marque
False    24049
True      7677
Name: marque, dtype: int64

color
False    16741
True     14985
Name: color, dtype: int64

vehicule-condition
False    19400
True     12326
Name: vehicule-condition, dtype: int64

price
False    30397
True      1329
Name: price, dtype: int64

<h4>Enregistrer la Data sans les variables nécessaireù</h4>

In [127]:
df.to_csv("DataCleaned.csv")

In [129]:
df2 = pd.read_csv("DataCleaned.csv")

In [131]:
df.head()

,fuel-type,mileage,horsepower,year-of-circulation,years,year-of-annoucement,boite,region,modele,marque,color,vehicule-condition,price
1,Essence,30000 KM,4.0,2019-02-22,2019,14/02/2022 - 17:53,Boîte 6,Ariana - Menzah,NaN,NaN,NaN,NaN,31000.0
2,Diesel,190000 KM,10.0,2012-09-20,2012,14/02/2022 - 16:52,Automatique,Manouba - Manouba Ville,NaN,NaN,NaN,NaN,85000.0
3,Essence,94000 KM,6.0,2017-10-20,2018,14/02/2022 - 16:52,Boîte 6,Tunis - Le Bardo,NaN,NaN,NaN,NaN,94000.0
4,Essence,183000 KM,NaN,NaN,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Essence,140000 KM,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [208]:
<h4>Supprimer les doublons</h4>

SyntaxError: invalid syntax (2526951878.py, line 1)

In [172]:
df.drop_duplicates()

,fuel-type,mileage,horsepower,year-of-circulation,years,boite,region,modele,marque,color,vehicule-condition,price
1,Essence,30000 KM,4.0,2019-02-22,2019,Boîte 6,Ariana - Menzah,NaN,NaN,NaN,NaN,31000.0
2,Diesel,190000 KM,10.0,2012-09-20,2012,Automatique,Manouba - Manouba Ville,NaN,NaN,NaN,NaN,85000.0
3,Essence,94000 KM,6.0,2017-10-20,2018,Boîte 6,Tunis - Le Bardo,NaN,NaN,NaN,NaN,94000.0
4,Essence,183000 KM,NaN,NaN,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Essence,140000 KM,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
31722,Essence,295000,7.0,NaN,1993,Manuelle,"Ben Arous , El Mourouj",Clio,Renault,Bleu,RS,11300
31723,Essence,184,7.0,NaN,2007,Manuelle,"Tunis , Autres Villes",Serie 3,BMW,Noir,Avec kilom\xc3\xa9trage,0
31724,Essence,180000,6.0,NaN,2014,Manuelle,"Nabeul , Béni Khalled",C4,Citroen,Noir,Avec kilom\xc3\xa9trage,30000
31725,Diesel,0,6.0,NaN,2009,Manuelle,"La Manouba , Manouba Ville",C5,Citroen,Gris,Avec kilom\xc3\xa9trage,0
31726,Essence,208470,6.0,NaN,2000,Manuelle,"Sfax , Bir Ali Ben Khalifa",Punto,Fiat,Blanc,Avec kilom\xc3\xa9trage,10500

<h4>Years of annoucement judged uncessasary</h4>

In [149]:
df.drop('year-of-annoucement', axis=1, inplace=True)

In [156]:
df.head()

,Unnamed: 0,fuel-type,mileage,horsepower,year-of-circulation,years,year-of-annoucement,boite,region,modele,marque,color,vehicule-condition,price
0,1,Essence,30000 KM,4.0,2019-02-22,2019,14/02/2022 - 17:53,Boîte 6,Ariana - Menzah,NaN,NaN,NaN,NaN,31000.0
1,2,Diesel,190000 KM,10.0,2012-09-20,2012,14/02/2022 - 16:52,Automatique,Manouba - Manouba Ville,NaN,NaN,NaN,NaN,85000.0
2,3,Essence,94000 KM,6.0,2017-10-20,2018,14/02/2022 - 16:52,Boîte 6,Tunis - Le Bardo,NaN,NaN,NaN,NaN,94000.0
3,4,Essence,183000 KM,NaN,NaN,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Essence,140000 KM,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h2>Remplacement des valeurs manquantes et enlever les outliers</h2>

In [181]:
avg_price = df["price"].astype("float").mean(axis=0)
print("Average of price:", avg_price)
avg_horsepower = df["horsepower"].astype("float").mean(axis=0)
print("Average of horsepower:", avg_horsepower)

Average of price: 103790.48995995792
Average of horsepower: 609297062.7439703

<h4>Remplacer le prix par la moyenne</h4>

In [177]:
df["price"].replace(np.nan, avg_price, inplace=True)

In [178]:
df.head()

,fuel-type,mileage,horsepower,year-of-circulation,years,boite,region,modele,marque,color,vehicule-condition,price
1,Essence,30000 KM,4.0,2019-02-22,2019,Boîte 6,Ariana - Menzah,NaN,NaN,NaN,NaN,31000.0
2,Diesel,190000 KM,10.0,2012-09-20,2012,Automatique,Manouba - Manouba Ville,NaN,NaN,NaN,NaN,85000.0
3,Essence,94000 KM,6.0,2017-10-20,2018,Boîte 6,Tunis - Le Bardo,NaN,NaN,NaN,NaN,94000.0
4,Essence,183000 KM,NaN,NaN,2007,NaN,NaN,NaN,NaN,NaN,NaN,103790.48996
5,Essence,140000 KM,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,103790.48996

In [192]:
df.drop(df.loc[df['vehicule-condition']>0].index, inplace=True)

TypeError: '>' not supported between instances of 'str' and 'int'

<h4>Détéction des différents outliers</h4>

In [191]:
df['vehicule-condition'].value_counts()

Avec kilom\xc3\xa9trage        10997
Très bon                        3374
Nouveau                         2864
Excellent                        913
Bon                              437
D'origine                        239
RS                               198
Pi\xc3\xa8ces manquantes         114
Neuf                             114
Non d\xc3\xa9douann\xc3\xa9       65
En marche                         23
5                                 18
Assez bon                         14
6                                  9
4                                  8
7                                  4
En panne                           3
8                                  1
12                                 1
280                                1
9                                  1
2020                               1
11                                 1
Name: vehicule-condition, dtype: int64

In [196]:
df['color'].value_counts()

Noir               4474
Blanc              4347
Gris               3060
Bleu               1407
Rouge               817
Autre               479
Beige               335
Vert                285
Argent              257
Gris argent         252
Marron              231
Gris Shark          175
Jaune               172
Gris anthracite     107
Dor\xc3\xa9          91
Orange               66
Camel                56
Violet               39
Multicolore          20
Berline              17
Corail               17
Compacte             13
Autres                8
Aubergine             5
Utilitaire            5
Rose                  4
4 x 4                 2
Name: color, dtype: int64

In [134]:
import seaborn as sns
plt.figure(figsize=(10,10))
sns.heatmap(df.corr(), annot=True)

ValueError: zero-size array to reduction operation fmin which has no identity

In [198]:
df['marque'].value_counts()

Volkswagen    3652
Peugeot       3146
Renault       2798
Citroen       2195
Fiat          1582
              ...
Deawoo           1
Man              1
2019             1
2001             1
Changhe          1
Name: marque, Length: 108, dtype: int64

In [199]:
df['modele'].value_counts()

Polo                                               971
Clio                                               959
Golf                                               547
Fiesta                                             528
Megane                                             471
                                                  ...
Mercedes-Benz Classe A A 160 FACE-LIFT  26000km      1
Volkswagen Amarok Model fin 2016                     1
Hyundai i20 Hyundai I 20                             1
KIA Cerato toutes options                            1
Hyundai.I 10                                         1
Name: modele, Length: 2380, dtype: int64

In [201]:
df['boite'].value_counts()

Manuelle                                                                                                                                                            22063
Automatique                                                                                                                                                          4384
Boîte 5                                                                                                                                                              2110
Boîte 6                                                                                                                                                               483
1 annonces en ligne >                                                                                                                                                  40
                                                                                                                                                                    ...
Fermeture centrale Clim6 airbags 2 vitres électriques 2ème carte dispo                                                                                                  1
moteur tout neuf ( 3 mois)                                                                                                                                              1
A vendre Polo 5 en très bonne étatpour plus d'info 22 663 023                                                                                                           1
Clio campusen très bon état toute option sauf clim              + 2 poste l'origine et un poste CD JVC--toute les entretiend sont faits agence Renault (facture)        1
I 10                                                                                                                                                                    1
Name: boite, Length: 1023, dtype: int64

In [202]:
df['years'].value_counts()

2017                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1318
2010                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1199
2016                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1134
2015                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1078
2014                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1020
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
A vendre seat Léon essence 6 cv modèle. 2014 en parfait état jamais accidentée ni repeinte avec faible kilométrage réel..75000.. et non trafiqué vous pouvez le vérifier chez n'importe quel concessionnaire auto.-Toit panoramique-Boîte auto-Commandes du système audio au volant-Commandes vocales-Ecran tactile-Fonction MP3-Kit mains-libres Bluetooth-Lecteur carte SD-Prise auxiliaire de connexion audio-Prise Jack-Prise USB-Radio-6 Haut parleurs-Aide au démarrage en côte-Capteur de luminosité-Capteur de pluie-Différentiel à glissement limité-Régulateur de vitesse-Eclairage statique d'intersection-Feux arrière à LED-Feux de jour à LED-Jantes Alu par 17-Phares avant LED-Radar de stationnement Avant et arrière-Répétiteurs de clignotant dans rétro ext-Rétroviseurs dégivrants-Rétroviseurs électriquesIntérieur-Accoudoir central AV-Bacs de portes avant-Banquette arrière 3 places-Banquette 1/3-2/3-Clim automatique bi-zones-Ecran multifonction couleur-Frein à main en cuir-Lampe de coffre-Miroir de courtoisie conducteur éclairé-Miroir de courtoisie passager éclairé-Ordinateur de bord-Pommeau de levier vitesse en cuir-Porte-gobelets avant-Prise 12V-Rangement sous siège conducteur-Rangement sous siège passager avant-Siège passager réglable en hauteur-Tablette cache bagages-Verrouillage centralisé à distance-Vitres arrière électriques-Vitres avant électriques-Vitres teintées-Volant cuir-Volant multifonctionSécurité-ABS-Airbag conducteur-Airbag genoux...       1
Ford fiesta 2008185000 km5 cvToute optionHichem 50607134                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
fiat panda longue importee dallemagne jdida tt origin et tt option plus dinfo contactez20.587.946.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
نظيفه ومتاع كسيبه                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
08.2017                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Name: years, Length: 442, dtype: int64

In [204]:
df['year-of-circulation'].value_counts()

Boîte 5       706
2012          377
2013          372
2010          346
2011          308
             ...
2012-11-23      1
2001-06-27      1
2003-03-07      1
2008-03-06      1
08-1993         1
Name: year-of-circulation, Length: 2886, dtype: int64

In [205]:
df['horsepower'].value_counts()

5.0           9640
6.0           4618
4.0           4265
7.0           3732
8.0           1425
              ...
1396.0           1
55521286.0       1
973.0            1
145.0            1
99996666.0       1
Name: horsepower, Length: 343, dtype: int64

In [206]:
df['fuel-type'].value_counts()

Essence       20169
Diesel        10545
Autre            31
Electrique       28
Hybride          24
LPG / GAS        10
210000            2
270               2
77000             2
300000            2
78000             2
150000            2
79000             1
GPL               1
700               1
348               1
87000             1
148000            1
2022              1
200               1
285000            1
188000            1
130000            1
170000            1
127000            1
145000            1
250000            1
102000            1
30000             1
71000             1
250258            1
220               1
100               1
129000            1
197               1
11                1
70000             1
120000            1
240000            1
114               1
200000            1
350000            1
17                1
3000              1
203400            1
320               1
Name: fuel-type, dtype: int64